@import url("colors.css");
.cards{
    /* border: 3px solid rgb(242, 255, 0); */
    padding: 5px;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.myCard{
    padding: 5px;
    border: 1px solid silver;
    border: 2px solid rgba(33, 37, 41, 0.555);
    box-shadow: 5px 5px 10px 1px #000000;
    border-radius: 6px;
    background-color: rgba(240, 255, 255, 0.463);
    width: fit-content;
    /* height: 280px; */
    button{
        width: 100%;
    }
}
#name_id{
    /* text-align: center; */
    font-size: xx-large;
    color: white;
    background-color: rgb(33, 37, 41);
    border-radius: 3px;
}
.flag{
    /* border: 3px solid rgb(0, 187, 255); */
    width: 100%;
}