#not-found {
    /* border: 3px solid red; */
    width: 200px;
}

.hide {
    display: none;
}

#icon_google_map {
    width: 20px;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 40px;
    height: 40px;
    --c: no-repeat linear-gradient(rgb(186, 190, 195) 0 0);
    background: var(--c), var(--c), var(--c), var(--c);
    background-size: 21px 21px;
    animation: l5 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes l5 {
    0% {
        background-position: 0 0, 100% 0, 100% 100%, 0 100%
    }

    33% {
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        width: 60px;
        height: 60px
    }

    66% {
        background-position: 100% 0, 100% 100%, 0 100%, 0 0;
        width: 60px;
        height: 60px
    }

    100% {
        background-position: 100% 0, 100% 100%, 0 100%, 0 0
    }
}

.loader_on_map {
    --c: no-repeat linear-gradient(rgb(5, 24, 47) 0 0);
}

#loading_map_div {
    /* border: 3px solid red; */
    width: 180px;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);

    div {
        width: 100%;
    }
}
/* icons weather */
.icon {
    /* border: 3px solid red; */
    max-height: 20px !important;
    max-width: 20px !important;
}