@im|port url("colors.css");
body{
    width: 98vw;
}
.center{
    /* border:  3px solid lightgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav_id {
    /* background-color: rgb(228, 151, 151); */
}

li {
    transition: all 0.4s ease-in;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

li:hover {
    border-top-color: white;
    border-bottom-color: white;
}
#ul_id {
    /* border: 3px solid red; */
    gap: 20px;
}
main{
    background-image: url('../files/bg2.jpg');
    background-size: cover;
    background-position: center center;
    margin: 5px 0;
    width: 100%;
}
.myContainer{
    /* border: 3px solid rgb(240, 127, 6); */
    width: 85%;
}
footer{
    /* min-height: 100px; */
    background-color: var(--primary);
}